---
layout: default
title: About
---
<ul>
    <li>
        <a href="#skills">Skills</a>
    </li>
</ul>
<br/>
<a id="skills">&nbsp;</a>
<h2>Skills</h2>
<p>Here is a collection of tools and technologies I've worked with.</p>
<ul class="">
    {% for skill in site.data.skills %}
        <li>
            {% if skill.url != null and skill.url != "" %}
                [{{ skill.competency }}] 
                <a href="" target="_blank">
                    {{ skill.name }}
                </a>
            {% else %}
                [{{ skill.competency }}] {{ skill.name }}
            {% endif %}
        </li>
    {% endfor %}
</ul>