---
layout: default
title: Home
---
<div class="main-grid">
    {% include social-card.html %}
    <div class="text-content">
        <p>Welcome to my site; I sometimes blog about cool things I'm doing, check out the <a href="/posts.html">blogs page</a> if you think that might interest you. Otherwise this site serves as a way for people to get to know a bit more <a href="/about.html">about me</a> and what I've been working on.</p>
    </div>    
</div>
