---
layout: default
title: Posts
---
<div class="rss-feed-container">
  {% include rss-button.html 
    path="/feed.xml"
    title="Subscribe to the atom/rss feed"
  %}
</div>
<ul class="blog-post-list">
  {% for post in site.posts %}
    {% if jekyll.environment == "development" or post.stage != "staging" %}
      <li>
        <time datetime="{{ post.date }}">[{{ post.date | date: '%Y-%m-%d' }}]</time>&nbsp;<a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>