<header>
    <div class="primary-content-break margin-bottom-sm"></div>
    <h1>David J McLaughlin</h1>
    <h2>Sr Fullstack Developer</h2>
    <div class="secondary-content-break margin-top-sm"></div>
</header>