<a href="#{{ include.id }}">
    <img loading=lazy src="{{ include.imagePath }}" title="{{ include.description }}" alt="{{ include.description }}">
</a>
<a href="#_" class="lightbox" id="{{ include.id }}">
    <img loading=lazy src="{{ include.imagePath }}" title="{{ include.description }}" alt="{{ include.description }}">
</a>