<div class="reading-estimate">
    <time title="Date this post was made" datetime="{{ include.date }}">{{ include.date | date: '%Y-%m-%d' }}</time>
    <div>
        <div></div>
        {% include read-time.html text=content %}
        <div></div>
    </div>
</div>