<div class="rss-button">
    <a href="{{ site.url }}{{ include.path }}" alt="{{ include.title }}" title="{{ include.title }}" target="_blank">
        <div class="top-border"></div>
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="circle"></div>
        <div class="fold"></div>
        <div class="center">
            <div class="curve"></div>
            <div class="curve"></div>
            <div class="curve"></div>
            <div class="curve"></div>
        </div>
    </a>
</div>