{% assign name = "David McLaughlin" %}

{% assign profileImagePath = "/assets/img/headshot.png" %}
{% assign profileImageTitle = name | append: "'s profile image" %}

{% assign linkedIn = "LinkedIn" %}
{% assign linkedInProfileUrl = "https://www.linkedin.com/in/david-m-5532541a2" %}
{% assign linkedInTitle = name | append: "'s " | append: linkedIn | append: " page" %}
{% assign linkedInAlt = linkedIn | append: "'s logo"%}
{% assign linkedInIconPath = "/assets/img/i/Linkedin_icon.svg" %}

{% assign gitLab = "GitLab" %}
{% assign gitLabProfileUrl = "https://gitlab.com/David_McLaughlin" %}
{% assign gitLabTitle = name | append: "'s " | append: gitLab | append: " page" %}
{% assign gitLabAlt = gitLab | append: "'s logo"%}
{% assign gitLabIconPath = "/assets/img/i/Gitlab_icon.svg" %}

<div class="social-card">
    <img class="profile-image" title="{{ profileImageTitle }}" alt="{{ profileImageTitle }}" src="{{ profileImagePath }}">
    <div class="social-links">
        <a href="{{ linkedInProfileUrl }}" title="{{ linkedInTitle }}">
            <img class="social-icon" title="{{ linkedIn }}" alt="{{ linkedInAlt }}" src="{{ linkedInIconPath }}">
            {{ linkedIn }}
        </a>
    </div>
    <div class="social-links">
        <a href="{{ gitLabProfileUrl }}" title="{{ gitLabTitle }}">
            <img class="social-icon" title="{{ gitLab }}" alt="{{ gitLabAlt }}" src="{{ gitLabIconPath }}">
            {{ gitLab }}
        </a>
    </div>
</div>