<div class="tldr">
    <details {% if include.expand %}open=""{% endif %}>
        <summary><h3>Read the TLDR</h3> {% include read-time.html text=include.text compact=true %}</summary>
        {{ include.text | markdownify }}
    </details>
</div>