@use "sass:map";

@import 'global-breakpoints';

@media #{map-get($breakpoints, "large")} {
	body {
		font-size: 1.2em;
	}

	.main-content {
		margin: 2rem;
		padding: 2.5% 5% 5% 5%;
	}

	.main-grid {
		grid-template-columns: auto 7fr;
		grid-template-rows: 1fr;
	}

	.container {
		display: block;
		padding: 3em;
	}

	.text-content {
		grid-column: 2 / 3;
		grid-row: 1 / 1;
	}
  }