<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="alternate" type="application/rss+xml" title="Subscribe David McLaughlin's Blog" href="{{ site.url }}/feed.xml" />
    <meta name="author" content="David McLaughlin">
    <meta name="description" content="Software development blog posts">
  </head>
  <body>
    <div class="main-content container">
      {% include header.html %}
      {% include navigation.html %}
      <div class="secondary-content-break margin-bottom-sm"></div>
      {{ content }}
    </div>
    <script src="/assets/js/instantclick.min.js" data-no-instant></script>
    <script data-no-instant>InstantClick.init(50);</script>
  </body>
</html>